{% if page.author_bio != false %}

{% if page.author and site.data.authors[page.author] %}
  {% assign author = site.data.authors[page.author] %}
{% else %}
  {% assign author = site.author %}
{% endif %}

<div class="flex w-100 mt2 lh-copy bt b--light-gray pv3">
  <div>
    {% if author.url contains "://" %}
      <a href="https://66shayan.github.io/about/" target="_blank"><img src="/assets/images/author.jpg" alt="Shayan Tawabi" class="w2 h2 w3-ns h3-ns br-100"></a>
    {% else %}
      <a href="https://66shayan.github.io/about/"><img src="/assets/images/author.jpg" alt="Shayan Tawabi" class="w2 h2 w3-ns h3-ns br-100"></a>
    {% endif %}
  </div>

  <div class="flex flex-column w-90 w-80-ns pl2 pl3-ns">
    <div class="flex items-center-ns">
      {% if author.url contains "://" %}
      <a class="f5 f4-ns fw4 lh-title black-80 hover-black-80 link mr2" href="https://66shayan.github.io/about/" target="_blank">Shayan Tawabi</a>
      {% else %}
      <a class="f5 f4-ns fw4 lh-title black-80 hover-black-80 link mr2" href="https://66shayan.github.io/about/">Shayan Tawabi</a>
      {% endif %}

      {% if author.cta_url contains "://" %}
      <a class="f6 fw4 link nested-author-cta ba br-pill ph2" href="twitter.com/shayanTawabi" target="_blank">{{ author.cta | default: "Follow" }}</a>
      {% else %}
      <a class="f6 fw4 link nested-author-cta ba br-pill ph2" href="twitter.com/shayanTawabi" target="_blank">{{ author.cta | default: "Follow" }}</a>
      {% endif %}
    </div>


    <div class="f6 f5-ns fw3 lh-copy silver">Marketing and Digital Guy!</div>
  </div>

</div>

{% endif %}
