{% if page.post_meta != false %}

  {% if page.author and site.data.authors[page.author] %}
    {% assign author = site.data.authors[page.author] %}
  {% else %}
    {% assign author = site.author %}
  {% endif %}


  <div class="flex w-100 mt4 lh-copy">
    <div class="pt1 pt0-ns">
      {% if author.url contains "://" %}
        <a href="https://66shayan.github.io/about/" target="_blank"><img src="/assets/images/avt4.jpg" alt="Shayan Tawabi" class="w2 h2 w3-ns h3-ns br-100"></a>
      {% else %}
        <a href="https://66shayan.github.io/about/"><img src="/assets/images/avt4.jpg" alt="Shayan Tawabi" class="w2 h2 w3-ns h3-ns br-100"></a>
      {% endif %}
    </div>

    <div class="flex flex-column w-90 w-80-ns pl2 pl3-ns">
      <div class="flex items-center">
        {% if author.url contains "://" %}
        <a class="f5 fw4 lh-title black-80 hover-black-80 link mr2" href="https://66shayan.github.io/about/" target="_blank">Shayan Tawabi</a>
        {% else %}
        <a class="f5 fw4 lh-title black-80 hover-black-80 link mr2" href="https://66shayan.github.io/about/">Shayan Tawabi</a>
        {% endif %}

        {% if author.cta_url contains "://" %}
        <a class="f6 fw4 lh-copy link nested-author-cta ba br-pill ph2" href="https://twitter.com/ShayanTawabi" target="_blank">{{ author.cta | default: "Follow" }}</a>
        {% else %}
        <a class="f6 fw4 lh-copy link nested-author-cta ba br-pill ph2" href="https://twitter.com/ShayanTawabi">{{ author.cta | default: "Follow" }}</a>
        {% endif %}
      </div>

      <div class="f6 fw3 lh-copy silver">Trying To Be Simple Guy – Who Loves Marketing, Tech, and Products!</div>

      <div class="f6 fw3 lh-copy silver">
        {% if page.last_modified_at %}
        <span>{{ site.text.updated }} <time>{{ page.last_modified_at | date: site.date_format }}</time></span>
        {% else %}
        <span><time>{{ page.date | date: site.date_format }}</time></span>
        {% endif %}

        <span class="ttl"> &middot;
          {% include read_time.html %}
        </span>
      </div>
    </div>
  </div>
{% endif %}
